# Note that not all variables here might be in use for your selected configuration

# Prisma

DATABASE_URL='mysql://yxqnvqre01zr:pscale_pw_11MKuvaO38ESQqJo2EVoi6HUrGJtZOd_GM6ixQMHylc@9onfuii6rpuv.us-east-3.psdb.cloud/next-poll?sslaccept=strict'

# Next Auth

GITHUB_ID=
GITHUB_SECRET=
